#  <font color=red> Module_09_List</font>

## List &rArr; 有序(sequence)、可變(mutable)
>### <img src='./img/py_data_type.png'>

In [1]:
list1 = ['a', 'b', 'c', 'd']
print(list1)
list2='a b c d'.split() # 講義P5-13
print(list2)
list3 = ['bdse', 'aien', 2015, 2018]
print(list3)
list4 = []
print(list4)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['bdse', 'aien', 2015, 2018]
[]

----

# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [ ]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names =                  ', names)
print('names[0] =               ', names[0])
print('names[0][0] =            ', names[0][0], '\n')

print('names[5] =               ', names[5])
print('names[-1] =              ', names[-1],'\n')

print('names[1:5] =             ', names[1:5])
print('names[1:6:2] =           ', (names[1:6:2]))

---

## List 是可變的資料型態
><details>
    <summary>image</summary>
    <img src='./img/list_mutable.png' style= height:450px>
 </details>
## 比較 mutable & immutable 資料型態
>P3-10
><details>
    <summary>image</summary>
    <img src='./img/py_reference.gif' style= height:450px>
 </details>

In [ ]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('id of names :            ', id(names))

names[2]='Kevin'
print("names[2]='Kevin' :       ", names) # 修改
print('id of names :            ', id(names))

In [ ]:
names[-1:]=[2000, 23.5] # 一次改兩筆資料
print('names[-1:]=[2000, 23.5] :', names) #list 可增加直接擴大

print('id of names :            ', id(names))

---

## List裡的內容可以放入任何型態 &rArr; List裡面就可以放入多層次的資料
> <img src='./img/listNested.png'>

In [ ]:
x=['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print('x[1] :      ', x[1])
print('x[1][1] :   ', x[1][1])
print('x[1][1][0] :', x[1][1][0])
print('x[3] :      ', x[3])

---

In [ ]:
[1, 2, 3] + [4, 5, 6]

In [ ]:
['Hi!'] * 4

In [ ]:
30 in [10, 20, 30]

In [ ]:
a = [10, 20, 30]
for x in a: 
    print (x, end = ' ')

---

In [ ]:
lst=[20, 10, 30]

print('lst =                       ', lst)
print('len(lst) :                  ', len(lst))
print('max(lst) :                  ', max(lst))
print('min(lst) :                  ', min(lst))
print('sum(lst) :                  ', sum(lst))
print('sorted(lst):                ', sorted(lst))
print('sorted(lst, reverse=True) : ', sorted(lst, reverse=True))

In [ ]:
list('abcd')

---

In [ ]:
a = [4, 777, 444, 999, 11, 4]

print('id of a :                 ', id(a))

a.append('1')
print('a.append(1) :             ', a)

b = a.count(4)
print('a.count(4) :              ', b)

a.clear()
print('a.clear() :               ', a)

<details>
    <summary>image</summary>
    <img src='./img/is_equal.png' style='height:400px'>
</details>

In [ ]:
li1=[1,2]
li2=li1.copy()
print('li2 id:', id(li2))
print('li1 id:', id(li1))
print('li2 == li1:', li2==li1)
print('li2 is li1:', li2 is li1) # 數值雖然相同, 但記憶體位置不同

---

In [ ]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]
b = ['aa', 'bb', 'cc']
a.extend(b)
print('a.extend(b) :             ', a)

print('a.index(999) :            ', a.index(999))

a.insert(5, 555)
print('a.insert(5, 555) :        ', a)

a.pop()                                       #刪除
print('a.pop() :                 ', a)        

a.pop(4)                                      #刪除
print('a.pop(4) :                ', a)

In [ ]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]

b = a.pop()
print(b)
print(a)

c = a.pop()
print(c)
print(a)

In [ ]:
x=[1,2]
y=[3,4]
x[len(x):]=y
x

---

In [ ]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

a.remove(11)                                #刪除
print('a.remove(11) :          ', a, '\n')

a.reverse()
print('a.reverse :               ', a)

In [ ]:
b = ['saw', 'active', 'He', 'foxes', 'rich']
b.sort(key=len)  # length
b

In [ ]:
b.sort(key=max)
print(b)
print(max('He'),max('rich'),max('active'),max('saw'),max('foxes'))

---

# list comprehensions

In [ ]:
S = []
for x in range(10) :
    x = x**2
    S.append(x)
S

In [ ]:
S = [x**2 for x in range(10)]
print(S)

In [ ]:
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
print(V)
print(M)

In [ ]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

In [ ]:
%%timeit
# V = (1,2,4,8,...2**10)
V = [2**n for n in range(11)]
V

In [ ]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」
#或「公元年分除以400可整除」
leap_year=[]
for i in range(1000, 2020):
    if( ( i%4==0 and  i%100!=0) or (i%400== 0) ):
        leap_year.append(i)
print(leap_year)

In [ ]:
leap_year1 = [i for i in range(1000,2020) if(( i%4==0 and  i%100!=0) or (i%400==0)) ]

print(leap_year1)

---

# &spades; 補充
<img src='./img/list_reference.png' style='height:400px'>

In [ ]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names2 = names
print(id(names),id(names2))

names2[2]='Kevin' # 更改names2，但是因為names2與names是參考到同一個記憶體位置，所以names會一起被修改。
print(names)