#  <font color=red> Module_09_List</font>

# P9-3
## List &rArr; 有序(sequence)、可變(mutable)
>### P3-3<img src='./img/py_data_type.png'>

In [1]:
list1 = ['a', 'b', 'c', 'd']
print(list1)
list2='a b c d'.split() # 講義P5-13
print(list2)
list3 = ['bdse', 'aien', 2015, 2018]
print(list3)
list4 = []
print(list4)

----

# P9-4
# index
><img src="./img/list.png"  style='height:250px; width:650px'>

In [2]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names =                  ', names)
print('names[0] =               ', names[0])
print('names[0][0] =            ', names[0][0], '\n')

print('names[5] =               ', names[5])
print('names[-1] =              ', names[-1],'\n')

print('names[1:5] =             ', names[1:5])
print('names[1:6:2] =           ', (names[1:6:2]))

---

# P9-5

## List 是可變的資料型態
><details>
    <summary>image</summary>
    <img src='./img/List_mutable.png' style= height:450px>
 </details>
## 比較 mutable & immutable 資料型態
>P3-10
><details>
    <summary>image</summary>
    <img src='./img/py_reference.gif' style= height:450px>
 </details>

In [3]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('id of names :            ', id(names))

names[2]='Kevin'
print("names[2]='Kevin' :       ", names) # 修改
print('id of names :            ', id(names))

id of names :             2920488800768
names[2]='Kevin' :        ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
id of names :             2920488800768

In [4]:
names[-1:]=[2000, 23.5] # 一次改兩筆資料
print('names[-1:]=[2000, 23.5] :', names) #list 可增加直接擴大

print('id of names :            ', id(names))

names[-1:]=[2000, 23.5] : ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]
id of names :             2920488800768

---

# P9-6
## List裡的內容可以放入任何型態 &rArr; List裡面就可以放入多層次的資料
> <img src="./img/listNested.png">

In [5]:
x=['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print('x[1] :      ', x[1])
print('x[1][1] :   ', x[1][1])
print('x[1][1][0] :', x[1][1][0])
print('x[3] :      ', x[3])

x[1] :       ['bb', ['ccc', 'ddd'], 'ee', 'ff']
x[1][1] :    ['ccc', 'ddd']
x[1][1][0] : ccc
x[3] :       ['hh', 'ii']

---

# P9-8

In [6]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [7]:
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [8]:
30 in [10, 20, 30]

True

In [9]:
a = [10, 20, 30]
for x in a: 
    print (x, end = ' ')

10 20 30

---

# P9-12

In [10]:
lst=[20, 10, 30]

print('lst =                       ', lst)
print('len(lst) :                  ', len(lst))
print('max(lst) :                  ', max(lst))
print('min(lst) :                  ', min(lst))
print('sum(lst) :                  ', sum(lst))
print('sorted(lst):                ', sorted(lst))
print('sorted(lst, reverse=True) : ', sorted(lst, reverse=True))

lst =                        [20, 10, 30]
len(lst) :                   3
max(lst) :                   30
min(lst) :                   10
sum(lst) :                   60
sorted(lst):                 [10, 20, 30]
sorted(lst, reverse=True) :  [30, 20, 10]

In [11]:
list('abcd')

['a', 'b', 'c', 'd']

---

# P9-14

In [12]:
a = [4, 777, 444, 999, 11, 4]

print('id of a :                 ', id(a))

a.append('1')
print('a.append(1) :             ', a)

b = a.count(4)
print('a.count(4) :              ', b)

a.clear()
print('a.clear() :               ', a)

id of a :                  2920488685696
a.append(1) :              [4, 777, 444, 999, 11, 4, '1']
a.count(4) :               2
a.clear() :                []

## P4-9:
<details>
    <summary>image</summary>
    <img src='./img/is_equal.png' style='height:400px'>
</details>

In [13]:
li1=[1,2]
li2=li1.copy()
print('li2 id:', id(li2))
print('li1 id:', id(li1))
print('li2 == li1:', li2==li1)
print('li2 is li1:', li2 is li1) # 數值雖然相同, 但記憶體位置不同

li2 id: 2920488668352
li1 id: 2920488698176
li2 == li1: True
li2 is li1: False

---

# P9-15

In [14]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]
b = ['aa', 'bb', 'cc']
a.extend(b)
print('a.extend(b) :             ', a)

print('a.index(999) :            ', a.index(999))

a.insert(5, 555)
print('a.insert(5, 555) :        ', a)

a.pop()                                       #刪除
print('a.pop() :                 ', a)        

a.pop(4)                                      #刪除
print('a.pop(4) :                ', a)

a.extend(b) :              [4, 777, 444, 999, 11, 45, 999, 66, 88, 73, 'aa', 'bb', 'cc']
a.index(999) :             3
a.insert(5, 555) :         [4, 777, 444, 999, 11, 555, 45, 999, 66, 88, 73, 'aa', 'bb', 'cc']
a.pop() :                  [4, 777, 444, 999, 11, 555, 45, 999, 66, 88, 73, 'aa', 'bb']
a.pop(4) :                 [4, 777, 444, 999, 555, 45, 999, 66, 88, 73, 'aa', 'bb']

In [15]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]

b = a.pop()
print(b)
print(a)

c = a.pop()
print(c)
print(a)

73
[4, 777, 444, 999, 11, 45, 999, 66, 88]
88
[4, 777, 444, 999, 11, 45, 999, 66]

In [16]:
x=[1,2]
y=[3,4]
x[len(x):]=y
x

[1, 2, 3, 4]

---

# P9-16

In [17]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

a.remove(11)                                #刪除
print('a.remove(11) :          ', a, '\n')

a.reverse()
print('a.reverse :               ', a)

a.remove(11) :           [4, 777, 444, 999, 45, 66, 88, 73]

a.reverse :                [73, 88, 66, 45, 999, 444, 777, 4]

In [18]:
b = ['saw', 'active', 'He', 'foxes', 'rich']
b.sort(key=len)  # length
b

['He', 'saw', 'rich', 'foxes', 'active']

In [19]:
b.sort(key=max)
print(b)
print(max('He'),max('rich'),max('active'),max('saw'),max('foxes'))

['He', 'rich', 'active', 'saw', 'foxes']
e r v w x

---

# &spades; 補充
<img src='./img/list_reference.png' style='height:400px'>

In [20]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names2 = names
print(id(names),id(names2))

names2[2]='Kevin' # 更改names2，但是因為names2與names是參考到同一個記憶體位置，所以names會一起被修改。
print(names)

2920489095104 2920489095104
['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]