# Module_07_程式的流程控制-條件判斷 if...else

# 7-3

In [ ]:
x = 3; y = 7; print('Result:', x)  #可以這樣寫用分號隔開
print('Result:', x+y)  # , is space
print('Result:'+str(x+y))
# try f-string

In [ ]:
x = 4
if x == 3:
    print ('x = 3')
else :
    pass

# 7-4

In [ ]:
total = 11+ \
12 + \
13 + \
14
total

In [ ]:
days =['Sun', 'Mon', 'Tue',
      'Wed', 'Thu', 'Fri', 'Sat']
# try {}, ()

# 7-5 comments

In [ ]:
# #真正的備註
# this is python
# hello python
# no any evaluate

In [ ]:
# document String
'''
this is python
hello python
'''
# still evaluate.  It is not a comment.   slow down your program

# 7-7

In [ ]:
var1 = 100 
if var1: 
    print('True expr 1 : ', var1) 
    
var2 = 0 
if var2: 
    print('True expr 2 : ', var2) 
    
print('Finished!')

# 7-9

In [ ]:
# %run mod07/ifstmt2.py
# if-else stmt
s = int(input('Input score: '))

if s >= 60:
    print("Pass!")
else:
    print("Not pass!")

In [ ]:
a = 1
if a==1:
    print('a is 1')
print('a is a number')  # 這個 print在 if 之外

# 7-10

In [ ]:
lst = [11, 22]
lst.clear()
print('lst = ', lst)
print('False == bool(lst)) :   ', False == bool(lst))
print('False == bool(None) :   ', False == bool(None))
print('False == 0 :            ', False == 0)

In [ ]:
print('False == 0.0 :        ', False == 0.0)
print('False == bool(()) :   ', False == bool(()))
print('False == bool({}) :   ', False == bool({}))

# 7-12

In [ ]:
amt = 2000
if amt < 1000:
    discount = amt * 0.05
    print('Discount', discount)
else:
    discount = amt * 0.10
    print('Discount', discount)

# 7-14

In [ ]:
amt = int(input('Enter amount: '))

if amt < 1000:
    discount = amt * 0.05
    print('Discount',discount)
elif amt < 5000:
    discount = amt * 0.10
    print('Discount',discount)
else:
    discount = amt * 0.15
    print('Discount',discount)

print('Net price:',amt - discount)

# 7-16

In [ ]:
num = int(input('enter number'))
if num%2 == 0:
    if num%3 == 0:
        print('Divisible by 3 and 2')
    else:
        print('Divisible by 2, not divisible by 3')
else:
    if num%3 == 0:
        print('Divisible by 3, not divisible by 2')
    else:
        print('Not Divisible by 2, not divisible by 3')

# 7-17

In [ ]:
var = 30
# Only one statement
if var==50: print('Value is 50')
if var==40: print('Value is 40')
print('Finished!')

In [ ]:
a = 2
#if a%3==0: Result = True
#else: Result = False
Result = 3 if a%3==0 else "Hello"
Result

In [ ]:
a=9
if a%2:     # 9%2 = 1, True
    print('Apple') 
else: 
    print('False')

# practice print.....if   else pr....

In [2]:
x = int(input('x:')) ; y = int(input('y:')); z = int(input('z:'))
print('The largest of the number is ', end='')
if x>y :
    if x>z:
        print(x)
    else:
        print(z)
else:                # y > x
    if y>z:
        print(y)
    else:
        print(z)
        
print(f'largest num {max([x, y, z])}')

x:50
y:60
z:70
The largest of the number is 70
largest num 70

# 7-19

In [ ]:
x = 7
if x==7:
    y=3
else:
    y=5

In [ ]:
x = 7
if x==7: y=3
else: y=5

In [ ]:
# 取代簡單的 if...else
x = 7
y=3 if x==7 else 5
y

In [1]:
%%timeit
x=5
if x%2==0:
    y=1
else:
    y=50

120 ns ± 0.884 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [2]:
%%timeit
x=5
if not x%2:
    y=1
else:
    y=50

105 ns ± 1.39 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

---

# Module_08_程式的流程控制-迴圈 while ,  for... range

## 8-4

In [ ]:
count = 0
while count < 9:
#    print('count is:', count)
    count += 1
print('Finished!')

In [ ]:
# %run mod08/whilestmt1.py
# while stmt

m = int(input('Input factorial:'))
r = n = 1

while n <= m:
    r *= n  # r = r * n
    n += 1
print(str(m) + '! =', r)

# or

r = n = 1
for n in range(1, m+1):  # iteration iteration #  迭代 : 重複的意思
    r*=n
print(str(m) + '! =', r)

In [ ]:
# 比如說提款機

num = 1
while num==1  :         # This constructs an infinite loop
    cash = int(input("輸入提款金額  :"))
    if 0<cash <30000:
        break
    
print ("輸入密碼")

In [ ]:
while True:
    user = input('你猜，我是 python / java / C++ ?? ')
    if user == 'python':
        break
    print(user)
print('好，答對了！')

In [6]:
# 年利率5%，則每個月的利率為5%/12=0.4167%
# 1萬元放在銀行，本金加利率總額為 10000*(1+0.05/12)=10041.67元
total=0
i=0
# while loop ...
while (total<1000000):
    total *= (1+0.05/12)
    total+=50000
    i+=1
print(i)

84

In [ ]:
for var in [1, 2, 3, 4, 5]:
    print(var)

# 8-7

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        x = i * j
        print(x, end=' ')
    print()

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i:1} * {j:1} = {i*j:2}', end=',   ')

    print('')

# 8-8 range()

In [ ]:
# lazy evaluation
range(1,6)  # get ready, not execute

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
list(range(1,6))  # execute

In [ ]:
tuple(range(1,6))  # execute

In [ ]:
set(range(1,6)) # execute

In [ ]:
list(range(1, 15, 2))  # how about range (a,d)

## p8-10, 11, 12, 14

In [4]:
numbers = [31, 57, 75, 85, 27, 93, 63, 19, 22, 44]
for num in numbers:
    if num%2 == 0:
        print('有 偶數存在', num)
        break
else:
    print('無 偶數存在')

有 偶數存在 22

In [5]:
x = ['even' if num%2==0 else 'odd' for num in numbers]
print(x)

y = ['even' for num in numbers if num%2==0]
print(y)

['odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'even', 'even']
['even', 'even']

In [ ]:
# %run mod08/whilestmt2.py
# whie with break stmt
i = 1
while True:
    print(i, end=', ')
    i += 1
    if i > 5:
        break

In [ ]:
total = 0 

for i in range(1,6):
    total+=i
total

---

# Module_09_串列(List)
# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [8]:
list1=['a', 'b', 'c', 'd']
print(list1)
list2='a b c d'.split() # 講義P5-13
print(list2)
list('abcd')

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names =                  ', names)
print('names[0] =               ', names[0])
print('names[0][0] =            ', names[0][0], '\n')

print('names[5] =               ', names[5])
print('names[-1] =              ', names[-1],'\n')

print('names[1:5] =             ', names[1:5])
print('names[1:6:2] =           ', (names[1:6:2]))

names[2]='Kevin'
print("names[2]='Kevin' :       ", names)         # 修改

names[-1:]=[2000, 23.5]                           # 一次改兩筆資料
print('names[-1:]=[2000, 23.5] :', names)

In [1]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length
b

['He', 'saw', 'six', 'small', 'foxes']

# 9-6

In [ ]:
lst = [33, 'python', [11, 12, 13], 77]
print(len(lst))
print(lst[0])
print(lst[2])
print(lst[2][2])

>![listNested](.\img\listNested.png)

In [2]:
lst1=[10,20,30]
lst2=[10,20,30]
lst3=[10,30,20]
lst1==lst2

True

In [3]:
lst1==lst3  #順序需一致

False

In [4]:
print(lst1 is lst2)   # 可能False,  True (機率很低很低) 數值雖然想同, 但記憶體位置可能不同
print(id(lst1), id(lst2))

False
1799520007240 1799523253448

In [5]:
lst1 is lst3

False

# 9-8

In [ ]:
[1, 2, 3] + [4, 5, 6]

In [ ]:
['Hi!'] * 4

In [ ]:
30 in [10, 20, 30]

In [ ]:
a = [10, 20, 30]
for x in a: 
    print (x, end = ' ')

for i in range(len(a)): 
    print (a[i], end = ' ')

# 9-11

In [ ]:
x, y, z=20, 10, 30
lst=[x, y, z]

print('lst = ', lst)
print('max(lst) :                  ', max(lst))
print('min(lst) :                  ', min(lst))
print('sum(lst) :                  ', sum(lst))
print('sorted(lst):                ', sorted(lst))
print('sorted(lst, reverse=True) : ', sorted(lst, reverse=True))

In [ ]:
lst=[11, 22, 33, 44]
print('lst =                       ', lst)
print('id(lst) :                   ', id(lst), '\n')

lst[2] = 66
print('lst[2] = 66 :               ', lst, '\n')

lst[2:]=['aaa','bbb']
print("lst[2:]=['aaa','bbb'] :     ",lst,'\n')

lst[2:]=[333,444,555,666]  #list 可增加直接擴大
print('lst[2:] = :                 ', lst)
print('id(lst) :                   ', id(lst), '\n')

In [ ]:
lst1= [33, 'python', [11,22,33], (44,55,66)]
print('lst1 :                      ', lst1)
print('lst1[3][0] :                ', lst1[3][0],'\n')
#lst1[3][0] = 88

In [ ]:
lst1 = 3*[33,44]
print('lst1 = 3*[33,44] :          ', lst1,'\n')

lst1 = [55,66]*3
print('lst1 = [55,66]*3 :          ', lst1)

In [ ]:
a = [4, 777, 444, 999, 11]
b = ['aa', 'bb', 'cc']

print(f'a = {a} , b = {b} \n')

print('max(a) :                  ', max(a))
print('min(a) :                  ', min(a))
print('sum(a) :                  ', sum(a),'\n')

print('sorted(a) :               ', sorted(a))
print('sorted(a, reverse=True) : ', sorted(a, reverse=True))

In [ ]:
a = [4, 777, 444, 999, 11]
b = ['aa', 'bb', 'cc']

print(f'a = {a} , b = {b} \n')

a.append('1')
print('a.append(1) :             ', a)               # 新增
print('a+[1] :                   ', a+[1], '\n')

a.extend(b)
print('a.extend(b) :             ', a)
print('a.count(4) :              ', a.count(4))        # coount 4 and 444
print('a.index(4) :              ', a.index(4), '\n')

a.insert(5, 555)
print('a.insert(5, 555) :        ', a)

In [ ]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]
b = ['aa', 'bb', 'cc']

print(f'a = {a} , b = {b} \n')
a.pop()                                       #刪除
print('a.pop() :                 ', a)        
a.pop(4)                                      #刪除
print('a.pop(4) :                ', a)
a.remove(a[2])                                #刪除
print('a.remove(a[2]) :          ', a, '\n')

a.reverse()
print('a.reverse :               ', a)

c = a.copy()
print('c = a.copy() :            ', c)

a.clear()
print('a.clear() :               ', a)

In [ ]:
# 找 10 在 list 中的位址
# my_list=[10, 20, 30, 10, 20, 30]
my_list=list(range(10,40,10))*2
print(my_list)
my_list_out=[]
pos=0
# for loop start
for x in my_list:
    if(x==10):
        my_list_out.append(pos)
#        my_list_out+=[pos]
#        my_list_out.extend([pos])
    pos+=1
#for loop end
print(my_list_out)

---

# Module_10_串列(List)與元組(Tuple)
>### tuple 佔記憶體小, 計算速度快
>![memoryIndex](.\img\memoryIndex03.png)

In [ ]:
t1=(50) # not tuple becasue of no ','
t1
type(t1)

In [ ]:
t2=(50,)
print(t2*4)
type(t2)

In [ ]:
tup2 = 50,    # tup2 = 50, 60, 70
type(tup2)

In [ ]:
t3=tuple(range(0,10,2))
print(t3)

t3[1] = 5         # error,  immutable
t3.remove(['2'])  # error, not removable, pop

In [ ]:
tup3=('aaa', 'bbb', 'kkk', 'jjj', 'cc1')

print(sorted(tup3))  #tuple sorted 傳回的是list[], 需要用參數去接, lst=sorted(t3), t3 is still tuple, no change
print(max(tup3))
print(min(tup3))
print(tup3.count('kkk'))
tup3+(111,222)

In [ ]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup+tup1)
print(tup+tup1+(8,))

In [5]:
total=0
for i in range(21):
    total *= 1.05
    total += 200000
    print(f'Number {i} year => total : {total}, save : {200000*i}, Interest : {total-(200000*i)}')

Number 0 year => total : 200000.0, save : 0, Interest : 200000.0
Number 1 year => total : 410000.0, save : 200000, Interest : 210000.0
Number 2 year => total : 630500.0, save : 400000, Interest : 230500.0
Number 3 year => total : 862025.0, save : 600000, Interest : 262025.0
Number 4 year => total : 1105126.25, save : 800000, Interest : 305126.25
Number 5 year => total : 1360382.5625, save : 1000000, Interest : 360382.5625
Number 6 year => total : 1628401.690625, save : 1200000, Interest : 428401.69062500005
Number 7 year => total : 1909821.7751562502, save : 1400000, Interest : 509821.7751562502
Number 8 year => total : 2205312.8639140627, save : 1600000, Interest : 605312.8639140627
Number 9 year => total : 2515578.507109766, save : 1800000, Interest : 715578.5071097659
Number 10 year => total : 2841357.4324652543, save : 2000000, Interest : 841357.4324652543
Number 11 year => total : 3183425.304088517, save : 2200000, Interest : 983425.3040885171
Number 12 year => total : 3542596.569292943, save : 2400000, Interest : 1142596.569292943
Number 13 year => total : 3919726.3977575903, save : 2600000, Interest : 1319726.3977575903
Number 14 year => total : 4315712.71764547, save : 2800000, Interest : 1515712.71764547
Number 15 year => total : 4731498.353527743, save : 3000000, Interest : 1731498.3535277434
Number 16 year => total : 5168073.271204131, save : 3200000, Interest : 1968073.2712041307
Number 17 year => total : 5626476.934764338, save : 3400000, Interest : 2226476.9347643377
Number 18 year => total : 6107800.781502555, save : 3600000, Interest : 2507800.781502555
Number 19 year => total : 6613190.820577683, save : 3800000, Interest : 2813190.820577683
Number 20 year => total : 7143850.361606567, save : 4000000, Interest : 3143850.361606567

In [ ]:
tup = 4, 5, 6; nested_tup = (4, 5, 6), (7, 8)

print(type(tup))
print(nested_tup)
print(tup+nested_tup)

In [ ]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

In [1]:
tup = tuple([4, 0, 2])
print(tup, '\n')

tup = tuple('string')  # try list ('string')
print(tup)
print(tup[0])

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')
s

In [ ]:
tup = tuple(['foo', [1, 2], True])

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
print(len(tup))
tup[1][0]=20
tup

#### Tuple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

#### Unpacking tuples

In [2]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

In [ ]:
values = 1, 2, 3, 4, 5
print(type(values))
a, b, *rest = values
a, b, rest
#rest

In [ ]:
a, b, *_ = values
_

In [ ]:
sorted ({1, 5, 3, 6, 2, 99, 6}) # no repeat elements {}is set, tuple still tuple

# 10-14 list comprehensions

In [ ]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
Q = [x**2/2 for x in range(10) ]
print(S)
print(V)
print(M)
print(Q)

In [ ]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

In [ ]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

# 範例

In [ ]:
# 質數
lst=[]
for i in range(2,1000):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        lst=lst+[i]
print(lst)

In [ ]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」
#或「公元年分除以400可整除」

tuple_year=()
for i in range(1900, 2020):
    if( ( i%4==0 and  i%100!=0) or (i%400==0)  ):
        tuple_year +=(i,)
print(tuple_year, '\n')      

tuple_year1=[]        
tuple_year1 = [tuple_year1+[i] for i in range(1900,2020) if(( i%4==0 and  i%100!=0) or (i%400==0)) ]

print(tuple_year1)

---

# Module_11_字典(Dict)

In [ ]:
d1={'Apple':'蘋果', 'Banana':'香蕉'}
print(d1['Apple'])
print(d1['Banana'])

In [ ]:
lst = [2.59, 3.19, 4.8]
print(lst[0])
print(lst[1], '\n')

d1={'Eggs':2.59, 'Milk':3.19, 'Cheese':4.8}
print(d1['Eggs'])
print(d1['Milk'])

><img src=".\img\list-dict.png"  style='height:400px; width:900px'>

In [ ]:
d1={'name':'John', 'age':30}
d2={'age':30, 'name':'John'}

print(d1==d2)
print(d1 is d2) # memory address diff
print(id(d1))
print(id(d2))
d2['class']

>#### tup1 = (a, 1, b, 2, c, 3)   # 佔記憶體小且完整, 執行速度快, 不可改變但可APPEND
>#### lst1 = [a, 1, b, 2, c, 3]   # 佔記憶體大, 執行速度慢(每筆check, sortiing)
>#### dic1 = {'AAAA':0 , 'AAAC':4, 'AAAG':7} # 執行速度快，index(a) -> key -> value有 pointer 概念

# 11-4

In [ ]:
dict1 = dict(one=1, two=2, three=3)
print('dict1 :            ', dict1)    # 建立

dict1['four']=7 
print("dict1['four'] = 7 :", dict1)    # 新增 

dict1['two'] = 7
print("dict1['two'] = 7 : ", dict1)    # 修改

del dict1['two']                       # 刪除
print("del dict1['two'] : ", dict1)

print("dict1['one'] :     ", dict1['one'])  # 尋找

In [ ]:
dict1 = {'one': 1, 'two': 2, 'three': 3, 'four':7}
key = 'four'
if(key in dict1):
    print(f'dict1[{key}] : {dict1[key]}')
else:
    print('No', key)

In [ ]:
Families = {'大明':'小明', '大華':'小華', '大雄':'小雄'}
for Parent, Son in Families.items():
    print(f"{Parent} is {Son}'s Dad")

# 11-5

# 11-6

In [ ]:
dict1 = {'id':'A001', 'eng':[67,53,79]}

print('dict1 :                     ', dict1)
print("dict1['eng'] :              ", dict1['eng'])
print("dict1['eng'][0]:            ", dict1['eng'][0], '\n')

dict1['math'] = [64,85,75]
print("dict['math']=[64,85,75]:    ", dict1)
print("dict1['math'][1] :          ", dict1['math'][1])

dict1['math'][1] = 88
print("dict1['math'][1] = 88 :     ", dict1)

# 11 - 7

In [ ]:
dict1 = {'Name': 'III', 'Year': 1979, 'Class': 'A'}

del dict1['Class']
print("del dict1['Class'] : ", dict1)

dict1.clear()   # empty dict1
print('dict1.clear() :      ', dict1)

del dict1      # del dict1.  dict1 is gone
print('del clear() :        ', dict1)   # error since no dict1 any more

# 11-10

In [ ]:
a= {'num':77, 'num1': 85, 'age': 44}  # dict

print('len(a) :     ', len(a))
print('max(a) :     ', max(a))  # key max, not so meaningful
print('a[max(a)]) : ', a[max(a)])

print('min(a) :     ', min(a))
print('sorted(a) :  ', sorted(a))
print(a.get('num'))
print(a['num'])
print(a.get('num', 'No item'))
print(a.get('name', 'No item'))

# 11-11

In [ ]:
dict([('two', 2), ('one', 1), ('three', 3)]) # list of tuple

In [ ]:
dict((('two', 2), ('one', 1), ('three', 3))) # tuple of tuple

In [ ]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}

print(dict1.items())
print(dict1.keys())
print(list(dict1.keys()))
print(dict1.values())

In [ ]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}
a={'name': '77', 'num': '85'}

dict1.update(a)
print('update(a) :  ', dict1)

dict1.pop('name')
print('pop("name") :', dict1)

dict1.popitem()  # default is -1 item
print('popitem() :  ', dict1)

In [ ]:
char_counts = {}
word = 'this is a letters about Python learning'
for char in tuple(word):
    #char_counts.update({char: word.count(char)})
    #print(char,':', end="")
    #print( word.count(char))
    char_counts[char] = word.count(char)  # 沒有 key 就像後加

#char_counts = {char: word.count(char) for char in set(word)}
    
char_counts

In [ ]:
d1 ={'a': 'apple', 'b':'banana'}
print('d1 =           ', d1)

d2 = d1.copy()                           # copy has diff memory address
print('d2 (d1.copy())=', d2)

print('dict1 is d2 :  ', dict1 is d2, '\n')

d3 = d1                                  # point to same address
print('d3 (d3=d1) :   ', d3)
print('d3 is d1 :     ', d3 is d1)

In [ ]:
d3['a'] = 'amazon'                     # change d3.  d1 changed too

print('d1 = ', d1)
print('d2 = ', d2)
print('d3 = ', d3)

In [ ]:
# tup1 = (a, 1, b, 2, c, 3)
# lst1 = [a, 1, b, 2, c, 3]
dic1 = {'AAAA':0 , 'AAAC':4, 'AAAG':7}

print('******** for key in dic1 *******')
for key in dic1:
    print(key)
    
print('\n******** for key in dic1.keys() *******')    
for key in dic1.keys():
    print (key)
    
print('\n******** for key in dic1.items() *******')    
for key in dic1.items():
    print (key)
    
print('\n******** for k, v in dic1 *******')    
for k, v in dic1.items():
    print (k,v)

---

# Module_12_集合(Set)

In [ ]:
a = set()  # 空集合

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket
#basket[1]    # error no ordered

In [ ]:
'orange' in basket

In [ ]:
'grape' in basket

In [ ]:
#len(set("apple"))
#print(set('apple'))
len(set("apple"))

In [ ]:
s1={'66316666'};
s2=set('66316666')
print(s1, len(s1))
print(s2, len(s2))
print(type(s1))
print(type(s2))

# 12-5

In [ ]:
'letters is beautiful'.count('e')

In [ ]:
char_counts = {}
word = 'letters is beautiful'
for char in set(word):
    char_counts[char] = word.count(char)  # 因為唯一而會向後加(append)
    
char_counts

In [ ]:
word='letters is beautiful'
print(set(word))  # 唯一

char_counts = {x:word.count(x) for x in set(word)}
char_counts

In [ ]:
for x in {1,5,2,3,3} :   
    print (x, end = ' ')  # 集合無順序

><img src=".\img\set.png"  style='height:450px; width:750px'>

In [ ]:
print('{1,2,3} | {2,3,4} = ', {1,2,3} | {2,3,4})  # 聯集
print('{1,2,3} & {2,3,4} = ', {1,2,3} & {2,3,4})  # 交集
print('{1,2,3} ^ {2,3,4} = ', {1,2,3} ^ {2,3,4}, '\n')  # XOR 互斥或

print('{1,2,3} - {2,3,4} = ', {1,2,3} - {2,3,4})  # diff
print('{2,3,4} - {2,3,1} = ', {2,3,4} - {2,3,1})  # diff
print('{1,2,3} ^ {2,3,4} = ', {1,2,3} ^ {2,3,4}, '\n')  # symmetric diff

print('{1,2} < {1,2,3,4} = ', {1,2} < {1,2,3,4})  # sub
print('{1,2} > {1,2,3,4} = ', {1,2} > {1,2,3,4})  # sub

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

print (f'a = {a},  b = {b},  c = {c},  d= {d} \n')

print('a.isdisjoint(b) :           ', a.isdisjoint(b))     # 沒交集
print('b.isdisjoint(a) :           ', b.isdisjoint(a), '\n')

print('a.issubset(b) :             ', a.issubset(b))
print('a.issubset(d) :             ', a.issubset(d))
print('d.issuperset(a) :           ', d.issuperset(a), '\n')

print('a.union(b) :                ', a.union(b))
print('a.union(b) == a|b:          ', a.union(b) == a|b)
print('a.intersection(b):          ', a.intersection(b), '\n')  #交集

print('a.difference(b) :           ', a.difference(b))  # 差集
print('b.difference(a) :           ', b.difference(a))  # 差集
print('a.symmetric_difference(b) : ', a.symmetric_difference(b),'\n')

In [ ]:
set_a = {2,4,6,8,10,12}
set_b = {3,6,9,12}

#聯集取得所有元素
print(set_a.union(set_b))                 #{2,3,4,6,8,9,10,12}
print(set_a | set_b, '\n')                #{2,3,4,6,8,9,10,12}

#交集取得集合重複的部分
print(set_a.intersection(set_b))          #{6, 12}
print(set_a & set_b, '\n')                #{6, 12}

#取出set_a跟set_b不一樣的元素
print(set_a.difference(set_b))            #{2,4,8,10}
print(set_a - set_b)                      #{2,4,8,10}
print(set_b.difference(set_a), '\n')      #{9,3}

#取出兩個集合中不一樣(沒有重複)的元素
print(set_a.symmetric_difference(set_b))  #{2,3,4,8,9,10}
print(set_a ^ set_b)                      #{2,3,4,8,9,10}

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.update(b);
a

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.intersection_update(b);
a                         #傳回與 b集合的交集

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.add(1)  # how about add(4)
a

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.remove(1); a

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.remove(4); a

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.discard(4); a  # 如果 elem 存在於 s ，則將其移除。此方法不會觸發 KeyError 的例外

In [ ]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

a.pop(); a

><img src=".\img\list-tuple-dict-set.png"  style='height:300px; width:850px'>

# 12-16

In [ ]:
s = {num for num in range(1,6) if num % 3 == 1}
s